services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.3
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.5.3
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29092,PLAINTEXT_HOST://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  airflow:
    image: apache/airflow:2.7.1-python3.9
    depends_on:
      - kafka
      - redis
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./requirements-airflow.txt:/opt/airflow/requirements-airflow.txt
      - ./airflow/data:/opt/airflow/data
    ports:
      - "8080:8080"
    environment:
      - AIRFLOW__CORE__EXECUTOR=SequentialExecutor
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - KAFKA_BOOTSTRAP_SERVERS=kafka:29092
      - DUCKDB_PATH=/opt/airflow/data/recommendations.duckdb
    command: >
      bash -c "set -e; pip install -r requirements-airflow.txt; airflow db init; airflow users create --username admin --password admin --firstname Admin --lastname User --role Admin --email admin@example.com || true; airflow scheduler & exec airflow webserver"